In [1]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
# Create a connection to the Census database
database_path = 'Resources/Census_Data.sqlite'
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [9]:
# Query All Records in the the Census Table
data = pd.read_sql("SELECT * FROM Census_Data", conn)

In [12]:
# Create a connection to the Zip database
zip_database_path = 'Resources/zip_census.sqlite'
zip_engine = create_engine(f"sqlite:///{zip_database_path}")
zip_conn = zip_engine.connect()

In [13]:
# Query All Records in the Zip Table
zip_data = pd.read_sql("SELECT * FROM Zip_Census", zip_conn)

In [16]:
# Merge the columns
merge_df = pd.merge(data, zip_data, on='CityState', how='inner')

In [17]:
# Combined Data
merge_df.head()

,CityState,city_x,state_x,Population_x,White Population_x,Black Population_x,Native American Population_x,Asian Population_x,Hispanic Population_x,Education None_x,...,Employment Unemployed_y,Median Gross Rent_y,Median Home Value_y,Employment Male Computer Engineering_y,Employment Female Computer Engineering_y,zipcode,lat_y,lng_y,city_y,state_y
0,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,192,793,103100,21,17,01103,42.104106,-72.592027,SPRINGFIELD,MA
1,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,1495,799,131200,87,25,01104,42.134009,-72.565378,SPRINGFIELD,MA
2,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,827,710,130700,32,0,01105,42.099958,-72.580765,SPRINGFIELD,MA
3,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,971,652,154000,65,13,01107,42.121060,-72.607068,SPRINGFIELD,MA
4,"SPRINGFIELD, MA",SPRINGFIELD,MA,144780,79365,30997,777,2991,61579,2325,...,1532,890,148200,134,62,01108,42.080692,-72.560791,SPRINGFIELD,MA