In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [4]:
# Figure out the minimum and maximum views for a TED Talk
min_view = ted_df["views"].min()
max_view = ted_df["views"].max()

50443

In [5]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 199000, 399000, 799000, 999000, 1000000, 1999999, 2999999, 3999999, 4999999, 50000000]

# Create labels for these bins
group_names = ["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil", "2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"]

In [12]:
# Slice the data and place it into bins
ted_df["Views Summary"] = pd.cut(ted_df["views"], bins, labels=group_names, include_lowest=True)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,Views Summary
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,5mil to 50mil
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,3mil to 4mil
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1mil to 2mil
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1mil to 2mil
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,5mil to 50mil

In [ ]:
# Place the data series into a new column inside of the DataFrame

In [18]:
# Create a GroupBy object based upon "View Group"
ted_groupby = ted_df.groupby("Views Summary")

# Find how many rows fall into each bin
print(ted_groupby["Comments"].count())

# Get the average of each column within the GroupBy object
df_groupby.mean()

                 comments    duration  languages         views
Views Summary
0 to 199k       76.937500  898.187500   4.062500  1.498010e+05
200k to 399k    81.196970  838.416667  18.765152  3.203648e+05
400k to 599k   114.185185  843.766667  23.768519  6.159056e+05
600k to 799k   119.404692  803.134897  25.630499  9.005236e+05
800k to 999k    55.000000  586.000000  24.000000  9.995860e+05
1mil to 2mil   168.136454  809.899402  27.899402  1.368263e+06
2mil to 3mil   299.481172  832.430962  32.807531  2.390719e+06
3mil to 4mil   360.870968  809.505376  34.258065  3.440350e+06
4mil to 5mil   507.088235  920.514706  35.720588  4.468781e+06
5mil to 50mil  650.393939  884.282828  40.252525  1.083801e+07