In [11]:
import pandas as pd
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/EclipseBugs.csv"
eclipse_df = pd.read_csv(csv_path)

eclipse_df.describe()

           Bug\r\nID  Number of\r\nComments         Votes
count   10000.000000           10000.000000  10000.000000
mean   137866.401800               8.750000      0.065500
std    126260.228558               7.699638      0.728466
min        43.000000               2.000000      0.000000
25%     37327.500000               4.000000      0.000000
50%     91070.000000               6.000000      0.000000
75%    208743.750000              10.000000      0.000000
max    500344.000000             163.000000     34.000000

In [18]:
# Finding the average number of comments per bug
eclipse_df =  eclipse_df.rename(columns={"Number of\r\nComments":"Number of Comments"})

average_comments = eclipse_df["Number of Comments"].mean()
average_comments

8.75

In [29]:
# Grouping the DataFrame by "Assignee"
assignee_group = eclipse_df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame
assignee_work_df = pd.DataFrame(assignee_group["Component"].count())
assignee_work_df.head()

                Component
Assignee
Aaron_Ferguson         10
Adam_Schlegel           7
ChrisAustin             3
Claude_Knaus           38
Curtis_Windatt          6

In [30]:
# Rename the "Component" column to "Component Bug Count"
assignee_work_df = assignee_work_df.rename(
    columns={"Component": "Component Bug Count"})
assignee_work_df.head()

                Component Bug Count
Assignee
Aaron_Ferguson                   10
Adam_Schlegel                     7
ChrisAustin                       3
Claude_Knaus                     38
Curtis_Windatt                    6

In [21]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = assignee_group["Assignee"].count()
bugs_per_user = assignee_group["Assignee"].value_counts()

user_bug_percent_df = pd.DataFrame((bugs_per_user/total_bugs)*100)
user_bug_percent_df.head()

                               Assignee
Assignee       Assignee
Aaron_Ferguson Aaron_Ferguson     100.0
Adam_Schlegel  Adam_Schlegel      100.0
ChrisAustin    ChrisAustin        100.0
Claude_Knaus   Claude_Knaus       100.0
Curtis_Windatt Curtis_Windatt     100.0

In [23]:
# Reset the index of "assignee_group" so that "Assignee" and "Component" are columns
assignee_work_df = assignee_work_df.reset_index()

In [28]:
# Merge the "Percent of Total Bugs Assigned" into the DataFrame
#merge_df = pd.merge(assignee_work_df,user_bug_percent_df, on="Assignee")
#assignee_work_df.head()
assignee_work_df.head()

   index        Assignee        Component  Component Bug Count
0      0  Aaron_Ferguson               UI                   10
1      1   Adam_Schlegel               UI                    7
2      2     ChrisAustin  User Assistance                    3
3      3    Claude_Knaus               UI                   31
4      4    Claude_Knaus             Text                    7