In [1]:
# Import Dependencies
import pandas as pd

In [2]:
data_series = pd.DataFrame (["Ornate", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
data_series

                               0
0                         Ornate
1                    UC Berkeley
2                      UC Irvine
3  University of Central Florida
4             Rutgers University

In [4]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frame_list = [{"Frame": "Ornate", "Price": 15.0, "Sales": 100},
                {"Frame": "Classical", "Price": 12.5, "Sales": 200},
                {"Frame": "Modern", "Price": 10.0, "Sales": 150},
                {"Frame": "Wood", "Price": 5.0, "Sales": 300},
                {"Frame": "Cardboard", "Price": 1.0, "Sales": "N/A"}]

frames_df = pd.DataFrame(frame_list)
frames_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [5]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
frame_dicts = {"Painting": ["Mona Lias", "Rembrant", "Blue Holes"],
                "Price": [2300000, 46000, 10],
                "Popularity": ["High", "Medium", "Low"]}
frames_df2 = pd.DataFrame(frame_dicts)

frames_df2

     Painting    Price Popularity
0   Mona Lias  2300000       High
1    Rembrant    46000     Medium
2  Blue Holes       10        Low