In [2]:
# Import Dependencies
import pandas as pd

In [5]:
arnold_df = pd.DataFrame({
    "Characters_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
    "colour_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
    "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
    "Football_Shaped_Head": [True, False, False, False, False, False]})

arnold_df

  Characters_in_show colour_of_hair   Height  Football_Shaped_Head
0             Arnold         blonde  average                  True
1             Gerald          black  tallish                 False
2              Helga         blonde  tallish                 False
3             Phoebe          black    short                 False
4             Harold        unknown     tall                 False
5             Eugene            red    short                 False

In [8]:
renamed_df = arnold_df.rename(columns={"Characters_in_show": "Character", "colour_of_hair": "Hair Colour",
                                    "Height": "Height", "Football_Shaped_Head": "Football Head"})
renamed_df.head()

  Character Hair Colour   Height  Football Head
0    Arnold      blonde  average           True
1    Gerald       black  tallish          False
2     Helga      blonde  tallish          False
3    Phoebe       black    short          False
4    Harold     unknown     tall          False

In [9]:
organised_df = renamed_df[["Character", "Football Head", "Hair Colour", "Height"]]

organised_df.head()

  Character  Football Head Hair Colour   Height
0    Arnold           True      blonde  average
1    Gerald          False       black  tallish
2     Helga          False      blonde  tallish
3    Phoebe          False       black    short
4    Harold          False     unknown     tall