In [14]:
import pandas as pd

In [15]:
# The path to our CSV file
csv_path = "Resources/KickstarterData.csv"

# Read our Kickstarter data into pandas
kickstarter_df = pd.read_csv(csv_path)

In [16]:
# Get a list of all of our columns for easy reference
kickstarter_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [17]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
ks_df = kickstarter_df[[ "name", "goal", "pledged", "state", "country", "staff_pick", "backers_count", "spotlight"]]
ks_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [18]:
# Remove projects that made no money at all
ks_df = ks_df[ks_df["pledged"] > 0]

In [25]:
# Collect only those projects that were hosted in the US
only_us = ks_df.loc[ks_df["country"] == "US", : ]

# Create a list of the columns
column_list = ks_df.iloc[0,:]
print(column_list)
# Create a new df for "US" with the columns above.

name             The Class Act Players Theatre Company Presents...
goal                                                          1500
pledged                                                       2925
state                                                   successful
country                                                         US
staff_pick                                                   False
backers_count                                                   17
spotlight                                                     True
Name: 0, dtype: object

In [ ]:
# Create a new column that finds the average amount pledged to a project

In [ ]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

In [ ]:
# Calculate the total number of backers for all US projects

In [ ]:
# Calculate the average number of backers for all US projects

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"

In [ ]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)