In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located
crime_file = "Resources/Sydney_Crime.csv"
# Import the data into a Pandas DataFrame
crime_df = pd.read_csv(crime_file)
crime_df.head()

,Region,Offence type,Apr 2015 - Mar 2016,Apr 2016 - Mar 2017,Apr 2017 - Mar 2018,Apr 2018 - Mar 2019,Apr 2019 - Mar 2020
0,Greater Sydney - Baulkham Hills and Hawkesbury,Murder *,0,1,0,1,0
1,Greater Sydney - Baulkham Hills and Hawkesbury,Attempted murder,0,0,0,0,0
2,Greater Sydney - Baulkham Hills and Hawkesbury,Non-domestic violence related assault,331,336,364,311,353
3,Greater Sydney - Baulkham Hills and Hawkesbury,Abduction and kidnapping,1,1,3,3,0
4,Greater Sydney - Baulkham Hills and Hawkesbury,Robbery without a weapon,14,13,10,14,15

In [3]:
# look for missing values
crime_df.count()

Region                 406
Offence type           406
Apr 2015 - Mar 2016    405
Apr 2016 - Mar 2017    405
Apr 2017 - Mar 2018    406
Apr 2018 - Mar 2019    405
Apr 2019 - Mar 2020    405
dtype: int64

In [4]:
# drop null rows
df = crime_df.dropna(how='any')

In [5]:
# verify counts
df.count()

Region                 402
Offence type           402
Apr 2015 - Mar 2016    402
Apr 2016 - Mar 2017    402
Apr 2017 - Mar 2018    402
Apr 2018 - Mar 2019    402
Apr 2019 - Mar 2020    402
dtype: int64

In [6]:
# Check to see if there are any values with mispelled or similar values in "Offence Type"
df["Offence type"].value_counts()

Trespass                                 29
Attempted murder                         29
Dealing, trafficking in cocaine          29
Dealing, trafficking in narcotics        29
Robbery with a firearm                   29
Non-domestic violence related assault    29
Dealing, trafficking in ecstasy          29
Dealing, trafficking in cannabis         29
Arson                                    29
Dealing, trafficking in other drugs      29
Dealing, trafficking in amphetamines     28
Murder *                                 28
Abduction and kidnapping                 28
Robbery without a weapon                 28
Name: Offence type, dtype: int64

In [7]:
# Combine similar offences
df["Offence type"] = df["Offence type"].replace(
    {"Dealing, trafficking in ecstasy": "Drugs",
    "Dealing, trafficking in cocaine": "Drugs",
    "Dealing, trafficking in narcotics": "Drugs",
    "Dealing, trafficking in cannabis": "Drugs",
    "Dealing, trafficking in other drugs": "Drugs",
    "Dealing, trafficking in amphetamines": "Drugs"})

In [8]:
# Check to see if you comnbined similar offences correctly in "Offence Type".
df["Offence type"].value_counts()

Drugs                                    173
Trespass                                  29
Attempted murder                          29
Robbery with a firearm                    29
Non-domestic violence related assault     29
Arson                                     29
Murder *                                  28
Abduction and kidnapping                  28
Robbery without a weapon                  28
Name: Offence type, dtype: int64

In [9]:
# Create a new DataFrame that looks into a specific region
centralcoast = df.loc[df["Region"] == "Greater Sydney - Central Coast", : ]

print(centralcoast)

                            Region                           Offence type  \
28  Greater Sydney - Central Coast                               Murder *
29  Greater Sydney - Central Coast                       Attempted murder
30  Greater Sydney - Central Coast  Non-domestic violence related assault
31  Greater Sydney - Central Coast               Abduction and kidnapping
32  Greater Sydney - Central Coast               Robbery without a weapon
33  Greater Sydney - Central Coast                 Robbery with a firearm
34  Greater Sydney - Central Coast                                  Arson
35  Greater Sydney - Central Coast                                  Drugs
36  Greater Sydney - Central Coast                                  Drugs
37  Greater Sydney - Central Coast                                  Drugs
38  Greater Sydney - Central Coast                                  Drugs
39  Greater Sydney - Central Coast                                  Drugs
40  Greater Sydney - Central Coast                                  Drugs
41  Greater Sydney - Central Coast                               Trespass

   Apr 2015 - Mar 2016 Apr 2016 - Mar 2017 Apr 2017 - Mar 2018  \
28                   4                   2                   4
29                   7                   0                   2
30               1,413               1,459               1,471
31                  11                  11                  14
32                  44                  36                  58
33                  11                   6                   5
34                 246                 317                 262
35                   4                  13                   5
36                  75                  65                   5
37                  20                  30                  21
38                  72                 107                 159
39                  10                  30                  62
40                   9                   8                   6
41                 333                 327                 361

   Apr 2018 - Mar 2019 Apr 2019 - Mar 2020
28                   1                   4
29                   2                   2
30               1,445               1,463
31                   9                  12
32                  44                  45
33                   6                  12
34                 210                 209
35                  14                  99
36                 233                   5
37                  98                 232
38                 146                 207
39                  28                  33
40                  11                  40
41                 362                 398