# Doctor Decoder

Use Pandas scraping to help decode the medical abbreviations that a doctor might use.

In [1]:
import pandas as pd

Use Pandas to scrape the following site and decode the medical abbreviations in the list

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_medical_abbreviations'
med_abbreviations = ['BMR', 'BP', 'ECG', 'MRI', 'qid', 'WBC']

In [6]:
# Use Panda's `read_html` to parse the url
tables = pd.read_html(url)
tables[2]

,0,1,2
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,AFVSS,"Afebrile, vital signs stable[5]",NaN
...,...,...,...
184,μL,microliter(s)/microlitre(s),NaN
185,μm,micrometer(s)/micrometre(s),Also referred to as microns
186,μmol,micromole(s),NaN
187,μOsm,micro-osmole(s),NaN
188,mμ,millimicron(s),Also referred to as nanometers/nanometres

In [12]:
# Find the medical abbreviations DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns `['abb', 'full_name', 'other']`
df = tables[2]
df.columns = ['abb', 'full_name', 'other']
df.head()

,abb,full_name,other
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,AFVSS,"Afebrile, vital signs stable[5]",NaN

Cleanup of extra row

In [13]:
df = df.iloc[2:]
df.head()

     abb                         full_name other
2    ACE     angiotensin-converting enzyme   NaN
3   ACTH       adrenocorticotropic hormone   NaN
4  AFVSS   Afebrile, vital signs stable[5]   NaN
5    ADH              antidiuretic hormone   NaN
6    AED  automated external defibrillator   NaN

In [14]:
# drop the `other` column
df = df.drop(columns=['other'])
df.head()

     abb                         full_name
2    ACE     angiotensin-converting enzyme
3   ACTH       adrenocorticotropic hormone
4  AFVSS   Afebrile, vital signs stable[5]
5    ADH              antidiuretic hormone
6    AED  automated external defibrillator

In [15]:
# Drop the first row and set the index to the `abb` column
df.set_index('abb', inplace=True)
df.head()

                              full_name
abb
ACE       angiotensin-converting enzyme
ACTH        adrenocorticotropic hormone
AFVSS   Afebrile, vital signs stable[5]
ADH                antidiuretic hormone
AED    automated external defibrillator

In [19]:
# Loop through the list of medical abbreviations and print the abbreviation
# along with the full description.
# Use the DataFrame to perform the lookup.
for x in med_abbreviations:
    description = df.loc[x].full_name
    print(f"{x}   {description}")

BMR   basal metabolic rate
BP   blood pressure
ECG   electrocardiogram
MRI   magnetic resonance imaging
qid   4 times a day
WBC   white blood cell